.department {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    row-gap: 40px;
    overflow: auto;
}

.department h1 {
    margin: 0;
    font-size: 40px;
    color: #222b35;
}

.department table {
    border-spacing: 0;
    width: 80%;
    border-radius: 5px;
    overflow: hidden;
}

.department table thead tr {
    background-color: #222b35;
}

.department table thead tr td {
    padding: 10px 0;
    color: #fff;
    width: 14%;
    text-align: center;
}

.department table thead tr td:not(:first-of-type) {
    border-left: 2px solid #2c3844;
}

.department table tbody tr:nth-of-type(2n + 1) {
    background-color: #2c3844;
}

.department table tbody tr:nth-of-type(2n) {
    background-color: #222b35;
}

.department > button {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #33eb91;
    cursor: pointer;
}
